/* BASE STYLES */

:root {
  --bg_main: #eeeeee;
  --text_light: #526b77;
  --text_med: #eeeeee;
  --text_dark: #7eb0a4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

button {
  cursor: pointer;
  color: var(--text_med);
  padding: 3px 10px;
  border: none;
  border-radius: 50px;
  background-color: var(--text_dark);
}

input {
  -webkit-appearance: none;
  margin-left: 10px;
  padding: 1.4px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px var(--text_dark) solid;
  background: none;
  outline: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto Slab', serif;
  background: var(--bg_main);
  color: var(--text_dark);
  padding: 50px;
}

/* FETCH SECTION */

.container {
  display: flex;
  justify-content: center;
}

.fetch-section {
  margin: 70px 0 20px;
}

.fetch-section .cities {
  display: grid;
  grid-gap: 32px 20px;
  grid-template-columns: repeat(5, 1fr);
}

.fetch-section .city {
  position: relative;
  padding: 40px;
  border-radius: 20px;
  background: var(--text_light);
  color: var(--bg_main);
}

.fetch-section figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.fetch-section .city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text_dark);
}

.fetch-section .city sup {
  font-size: 0.5em;
}

.fetch-section .city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--orange);
}
